header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

header nav{
    flex-basis: 80%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none
}

header nav ul li{
    display: flex;
    margin: 1px;
    font-size: x-large;
    font-weight: bold;
    padding-left: 30px;
}

header div{
    align-items:flex-end ;
    padding-left: 30px;
    flex-basis: 20%;
}

header div span{
    color: rgb(45, 136, 143);
    font-size: x-large;
    padding-right: 30px;
}


